.btnMore {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #ffffff;

  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 15px auto;
  height: 50px;
}
