@import url(../src/fonts/style.sheet.scss);

body {
  margin: 0;

  font-family: 'Open Sans';

  background-color: #F3F7FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  margin: 0 auto;
}


